body{
    background-color: grey;
}

@keyframes moving{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.box{
    margin: 50px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 
                                50%,rgba(0,0,0,1) 51%,rgba(0,0,0,1) 100%);
    position: relative;
    animation: moving 2s linear 0s infinite normal none;
}

.box::before{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50px;
    border: 40px solid #000;
}

.box::after{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 50px;
    right: 0;
    border: 40px solid #fff;
}


.down{
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    text-decoration: none;
    padding: 21px 55px;
}

.wrapper{
    text-align: center;
}
