<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <title>Vue</title>
    <style>

    </style>
</head>
<body>
    <div id="app">
        <input type="radio" v-model="picked" :value="msg">{{picked}}<hr>
        <input type="checkbox" v-model="toggle" :true-value="value1" :false-value="value2">
        <hr>
        下拉框<br>
        <select v-model='valueselect'>
            <option :value="{age:18}">xixi</option>
        </select>
        {{valueselect.age}}
    </div> 
    
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            picked:'',
            msg:'12131',
            toggle: '',
            value1: 'cb',
            value2: 'wl',
            valueselect:''
        },    
    })
</script>
</html>